body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #821764;
    background-image: url(img/back0.jpg);
	background-repeat: repeat;
}

#top_wrapper {
	clear: both;
	width: 100%;
	height: 444px;
	background: url(img/header4.png) no-repeat top center;
}

#top_wrapper  #top_title {
	float: left;
	width: 700px;
	padding-top: 70px;
	padding-left: 100px;
}

#top_wrapper  #top_title h1 {
	margin: 0;
	padding: 0;
	color: #fff;
}

#top_wrapper  #top_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	color: #ffef38;
	font-weight: normal;
	text-decoration: none;
}

#nav_content {
	clear: both;
	width: 100%;
	height: 980px;
	background: url(img/content4.png) center repeat-y;
}

#nav_wrapper {
	clear: both;
	width: 100%;
	height: 204px;
	background: url(img/menu4.png) no-repeat top center;
}

#my_footer {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 30px;
	text-align: center;
	color: #fff;
}

#my_footer a {
	color: #fff;
}

#my_main_bottom {
	width: 1050px;
	height: 188px;
	margin: 0 auto;
	background: url(img/bottom4.png) no-repeat center top;
}

#gallery {
		width: 700px;
		padding: 0px 26px;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		float: left;
		display: block; 
		padding: 0;
		margin: 0;
		width: 270px;
		padding: 13px;
		background: url(img/smallback.png) no-repeat center top;
		border: 0px solid #e0dee0;
		margin: 0 0 30px 30px;
	}
	
	#gallery ul li h5 {
		margin-bottom: 15px;
	}
	 
	#gallery ul img {
		width: 245px;
		height: 150px;
		border: none;
		margin-bottom: 10px;
	}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.article_wrapper {
	clear: both;
	height: 283px;
	padding: 50px;
	margin-left: 1%;
	border-bottom: 1px;
	margin-bottom: 20px;
	background: url(img/article_back.png) no-repeat top left;
}

.article_wrapper .article_date {
	float: left;
	width: 120px;
	height: 100%;
	padding: 40px 30px 0 0;
	text-align: center;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	background: url(img/date_back.png) no-repeat top left;
}

.article_wrapper .article_date span {
	display: block;
	color: #000000;
	font-size: 16px;
	margin-top: 5px;
}

.article_wrapper h2  {
	margin: 0;
	padding: 20px 0 20px 0;
	line-height: 30px;
	font-size: 35px;
	color: #B40404;
	font-weight: bold;
}

.article_wrapper p {
	text-align: justify;
	margin-bottom: 10px;
	color: #151515;
	font-size: 15px;
}

.project_wrapper {
	clear: both;
	height: 230px;
	padding: 40px;
	border-bottom: 1px;
	background: url(img/project_back.png) no-repeat top left;	
}

.project_title {
	font-size: 30px;
	padding-top: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.project_content p {
	margin-left: 20px;
	padding-top: 20px;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
}

.article_section {
	padding: 5%;
	margin-left: 3%;
	height: 900px;
	background: url(img/perarticle.png) no-repeat center top;
}

.article_section .article_date {
	float: left;
	width: 120px;
	height: 100%;
	padding: 30px 30px 0 0;
	text-align: center;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	background: url(img/date_back.png) no-repeat top left;
}

.article_section .article_date span{
	display: block;
	color: #000000;
	font-size: 16px;
	margin-top: 5px;
}

.article_section h2{
	margin: 0;
	padding: 20px 0 20px 0;
	line-height: 30px;
	font-size: 35px;
	color: #B40404;
	font-weight: bold;
}

.article_section p{
	font-size: 15px;
	line-height: 150%;
	color: #151515;
}

.project_section{
	padding: 5%;
	margin-left: 3%;
	height: 900px;
	background: url(img/perproject.png) no-repeat center top;
}

.project_section h2{
	font-size: 30px;
	padding-top: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #8A0808;
}

.project_section p{
	padding-top: 20px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
	line-height: 200%;
}

#about {

}

#about #selfImage {
	margin-left: 30%;
}

.pagination{
	padding: 0px 0px;
	margin: 0px 5px;
}

.pre_next{
	margin-bottom: 5px;
}

#bottom_page_home {
	padding-top: 20%;
}

#bottom_page_gallery {
	padding-top: 15%;
}

#bottom_page_project {
	padding-top: 20%;
}